body {
  background: #f6f7f7;
}
nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 15px;
  background: #d8eef8;
}
.link {
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: 'PT Serif Caption', serif;
}
.name {
  font-size: 30px;
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: 'PT Serif Caption', serif;
}
.cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.change {
  font-size: 20px;
  padding: 20px;
  border: none;
  margin: 20px 10px 0px;
  font-family: 'PT Serif Caption', serif;
  background:none ;
}
.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 40px;
  font-family: 'PT Serif Caption', serif;
}
.lessMore {
  padding: 5px;
  background-color: #d8eef8;
  border: none;
}
.show {
  width: 300px;
  font-family: 'PT Serif Caption', serif;
}
.product-card {
  display: inline-block; 
  overflow: hidden;
}
.purchase {
  display: flex;
  justify-content: space-between;
  
}
.buy {
  color: #09adf9;
  
  font-size: 20px;
  border: none;
  background: #f6f7f7;
  text-decoration: underline;

}
.hover-image-scale {
  transition: 1s;
  display: block;
}
.hover-image-scale:hover {
  transform: scale(1.2);
} 
.info {
  margin-top: 25px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.box {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: justify;
  text-indent: 40px;
  font-family: 'PT Serif Caption', serif;
}
.text {
  width: 50%;
  text-align: justify;
  text-indent: 40px;
  margin-top: 40px;
  font-family: 'PT Serif Caption', serif;
}
.imgTwo {
  margin-top: 40px;
}
.imgFour {
  margin-bottom: 20px;
  margin-top: 10px;
}
.delivery {
  display: flex;
  justify-content: space-evenly;
}

.rotate {
  margin-top: 30px;
  width: 400px;
  height: 500px;
  border: 4px double #65c8f7;
  overflow: hidden;
  -webkit-transition: all 0.7s ease;
          transition: all 0.7s ease;
} 
.rotate:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.contact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.fon {
  display: flex;
  flex-direction: column;
  
}

.imgFive {
  margin-top: 20px;
}
.icons {
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 500px) {
  .imgOne, .imgFive, .imgTwo {
    width: 250px;
  }
}
